[submodule "url-shortner-app-kgs"]
	path = url-shortner-app-kgs
	url = git@github.com:aburaihan-dev/url-shortner-app-kgs.git
[submodule "url-shortner-app-gateway"]
	path = url-shortner-app-gateway
	url = git@github.com:aburaihan-dev/url-shortner-app-gateway.git
[submodule "url-shortner-app-frontend"]
	path = url-shortner-app-frontend
	url = git@github.com:aburaihan-dev/url-shortner-app-frontend.git
